a {
  color: #000;
}
ul {
  list-style: none;
}
#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.tab-container {
  width: 100%;
}
.none-radius {
  border-radius: 0;
}
.write {
  color: #fff;
}
.bottom {
  margin-bottom: 25px;
}
.center {
  text-align: center;
}