:after,:before{
  text-decoration: inherit;
  vertical-align: middle;
}
html, body {
  height: 100%;
}
body {
  margin-left: 0 !important;
}
a {
  color: #000;
}
ul {
  list-style: none;
  padding-left: 0;
}
#app {
  min-height: 100%;
  box-sizing: border-box;
  position: relative;
}
.none-radius {
  border-radius: 0;
}
.write {
  color: #fff;
}
.bottom {
  margin-bottom: 25px;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.list-image {
  height: 100px;
  overflow-y: hidden;
}
.content-wrapper {
  padding-top: 150px;
  margin-bottom: 100px;
}
@media (max-width: 600px) {
  .content-wrapper {
    padding-top: 50px;
  }
}