.login-page {
  margin-left: 0;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background: url("/images/bg_login.jpg") center center / cover no-repeat fixed;
}