.navbar-default {
  .header-gnav {
    margin: 0;
    border-left: 1px solid #fff;
    li {
      float: right;
      a {
        &:link,
         :hover,
         :active,
         :focus,
         :visited {
          color: #fff;
          background-color: #333;
        }
      }
    }
    .open {
      a {
        &:focus {
          color: #fff;
          background-color: #333;
        }
      }
    }
    .navbar-sub-nav {
      li {
        width: 100%;
        a {
          color: #222;
          &:link,
           :hover,
           :focus,
           :visited {
            background-color: #fff;
          }
        }
      }
    }
  }
  .navbar-brand {
    padding: 10px 0 0 15px;
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
  .navbar-nav {
    li {
      a {
        color: #fff;
        text-shadow: none;
      }
    }
  }
}
.navbar-fixed-top {
  z-index: 1031 !important;
}
.navbar-fixed-left {
  top: 50px !important;
  box-shadow: none !important;
  overflow-y: auto;
  padding-bottom: 100px;
}
.navbar-inverse {
  .navbar-nav {
    li {
      a {
        text-shadow: none;
        &:focus {
          color: #fff;
          background-color: #333;
         }
      }
    }
  }
}
.nav-top {
  padding-top: 20px;
  padding-bottom: 30px;
}
.nav-child {
  li {
    padding-left: 30px;
    &:before {
      background: #999;
      bottom: auto;
      content: "";
      height: 8px;
      left: 23px;
      margin-top: 15px;
      position: absolute;
      right: auto;
      width: 8px;
      z-index: 1;
      border-radius: 50%;
    }
    &:after {
      border-left: 1px solid #999;
      bottom: 0;
      content: "";
      left: 27px;
      position: absolute;
      top: 0;
    }
  }
  a {
    color: #fff;
  }
}
.nav-tabs {
  border-bottom: 0;
  li {
    a {
      padding: 16px;
      display: block;
      &:link,
       :hover,
       :active,
       :focus,
       :visited {
        border: 0;
      }
    }
    &.active {
      a {        
        &:link,
         :hover,
         :active,
         :focus,
         :visited {
          border: 0;
          background: none;
        }
        background-color: #f8f8f8;
        border-bottom: 3px solid #777 !important;
      }
    }
  }
}
.nav-tabs-container {
  width: 100%;
  position: fixed;
  top: 50px;
  z-index: 2;  
  border-bottom: 1px solid #ddd;
  background-color: #f7f7f7;
}
.nav-side {
  li {
    a {
      &:hover,
      :focus {
        background-color: #333;
      }
    }
  }
}
.navbar {
  .container {
    padding:0;
  }
}
.navbar-toggle-org {
  position: relative;
  float: left;
  padding: 9px 10px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.navbar-toggle-org {
  .navbar-toggle-org-icon {
    position: relative;
    display: block;
    height: 2px;
    width: 30px;
    background: #fff;
    -webkit-transition: ease .5s;
    transition: ease .5s;
  }
}
.navbar-toggle-org-icon {
  &:nth-child(1) {
    top: 0;
  }
}
.navbar-toggle-org-icon {
  &:nth-child(2) {
    margin: 8px 0;
  }
}
.navbar-toggle-org-icon {
  &:nth-child(3) {
    top: 0;
  }
}
.navbar-toggle-org {
  &.open {
    .navbar-toggle-org-icon {
      &:nth-child(1) {
        top: 10px;
        transform: rotate(45deg);
      }
      &:nth-child(2) {
        transform: translateY(-50%);
        opacity: 0;
      }
      &:nth-child(3) {
        top: -10px;
        transform: rotate(-45deg);
      }
    }
  }
}
.drawer-nav {
  transform: translateX(-100%);
  transition:ease .5s;
  z-index: 9999;
}
.drawer-nav {
  &.open {
    transform:translateX(0);
    overflow-y: auto;
  }
}
@media screen and (max-width: 700px) {
  .navbar-collapse{
    &.collapse {
      display: block;
      padding-top: 50px;
    }
  }
  .navbar-fixed-left {
    width: 60% !important;
    padding-bottom: 0;
    &.pt-30 {
      padding-top: 0;
    }
  }
  .nav-tabs-container {
    top: 58px;
  }
  .nav-tabs {
    font-size: 3vw;
  }
  .navbar-nav {
    .dropdown-header {
      color: #fff;
      padding-left: 35px;
    }
    li {
      padding-left: 20px;
    }
  }
  .navbar-inverse {
    border: 0;
    .navbar-nav {
      li {
        a {
          font-size: 2rem;
          padding: 20px;
        }
      }
    }
  }
  .navbar-default {
    .header-gnav {
      font-size: 3vw;
    }
  }
}