.navbar-default {
  .header-gnav {
    margin: 0;
    border-left: 1px solid #fff;
    li {
      float: right;
      a {
        &:link,
         :hover,
         :active,
         :focus,
         :visited {
          color: #fff;
          background-color: #333;
        }
      }
    }
    .open {
      a {
        &:focus {
          color: #fff;
          background-color: #333;
        }
      }
    }
    .navbar-sub-nav {
      li {
        width: 100%;
        a {
          color: #222;
          &:link,
           :hover,
           :focus,
           :visited {
            background-color: #fff;
          }
        }
      }
    }
  }
  .navbar-brand {
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
  .navbar-nav {
    li {
      a {
        color: #fff;
        text-shadow: none;
      }
    }
  }
}
.navbar-fixed-top {
  z-index: 1031 !important;
}
.navbar-fixed-left {
  top: 50px !important;
  box-shadow: none !important;
}
.navbar-inverse {
  .navbar-nav {
    li {
      a {
        text-shadow: none;
      }
    }
  }
}
.nav-top {
  padding-top: 20px;
  padding-bottom: 30px;
}
.nav-child {
  li {
    padding-left: 30px;
    &:before {
      background: #999;
      bottom: auto;
      content: "";
      height: 8px;
      left: 23px;
      margin-top: 15px;
      position: absolute;
      right: auto;
      width: 8px;
      z-index: 1;
      border-radius: 50%;
    }
    &:after {
      border-left: 1px solid #999;
      bottom: 0;
      content: "";
      left: 27px;
      position: absolute;
      top: 0;
    }
  }
  a {
    color: #fff;
  }
}
.nav-tabs {
  border-bottom: 0;
  li {
    a {
      padding: 16px;
      display: block;
      &:link,
       :hover,
       :active,
       :focus,
       :visited {
        border: 0;
      }
    }
    &.active {
      a {        
        &:link,
         :hover,
         :active,
         :focus,
         :visited {
          border: 0;
          background: none;
        }
        background-color: #f8f8f8;
        border-bottom: 3px solid #777 !important;
      }
    }
  }
}