.panel-default {
  border-color: #ccc;
  background-color: #fff;
  &> .panel-heading {
    margin-top: 10px;
    padding-bottom: 0;
    color: #555;
    border-bottom: 0;
    border-radius: 0;
    background: none; 
  }
}
.panel-body {
  padding: 25px;
}
.panel {
  border-radius: 0;
}
.panel-login {
  padding: 10px;
  border-radius: 0;
  border: 1px solid #eee;
}