#customers-table {
  width: 100% !important;
  th, td {
    white-space: nowrap;
  }
}
.table-responsive {
  .dataTables_wrapper {
    .row {
      margin: 0;
      overflow: auto !important;
    }
  }
}
@media screen and (max-width: 767px) {
  .table-responsive {
      border: 0;
  }
}