table {
  &.table-bordered {
    &.dataTable {
      tbody {
        td {
          vertical-align: middle;
        }
      }
    }
  }
}
#customers-table {
  th, td {
    white-space: nowrap;
  }
}
.table-responsive {
  width: 100%;
  -webkit-overflow-scrolling: touch;
}
.dataTables_wrapper {
  .row {
    margin: 0;
  }
}
.transition {
  cursor: pointer; 
}
@media screen and (max-width: 768px) {
  .table-responsive {
      border: 0;
      table {
        td {
          ul {
            .mobile-hidden {
              display: none;
            }
          }
        }
      }
  }
  div.dataTables_wrapper {
    div.dataTables_length {
      text-align: left !important;
    }
  }
  div.dataTables_wrapper {
    div.dataTables_filter {
      text-align: right !important;
    }
  }
}