#customers-table {
  th, td {
    white-space: nowrap;
  }
}
.table-responsive {
  .dataTables_wrapper {
    .row {
      margin: 0;
      overflow: auto !important;
    }
  }
}
@media screen and (max-width: 767px) {
  .table-responsive {
      border: 0;
  }
  div.dataTables_wrapper {
    div.dataTables_length {
      text-align: left !important;
    }
  }
  div.dataTables_wrapper {
    div.dataTables_filter {
      text-align: right !important;
    }
  }
}