.action-btn {
    display: none;
}
.action-button-wrapper {
    margin-right: 0px;
    position: fixed;
    z-index: 1;
    right: 0;
    bottom: 54px;
    width: 100%;
    background-color: rgba(153, 153, 153, 0.8);
    padding: 30px;
}