@charset "utf-8";

body {
  padding-top: 25px;
  background-color: #fff;
  margin-left: 10px;
  margin-right: 10px;
}

header{
  margin-top: 30px;
  color: #43A047;
}
hr{
  border-width: 3px;
  border-color: #43A047;
}
h1{
  font-size: 25px;
    font-weight: bold;
    margin: 0;
  text-align: center;
}
.align-light{
    text-align: right;
}
.form-group{
  margin-bottom: 35px;
}
footer p{
  text-align: center;
}
input:required{
  background: #ffcdd2;
}
input[type="email"]:invalid{
  background: #ffcdd2;
}
input:valid{
  background: transparent;
}
input:focus{
  background: #DCEDC8;
}
.login-txt{
  font-size: 15px;
    font-weight: bold;
    margin: 0;
  text-align: center;
}

/** add **/

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb25 {
  margin-bottom: 25px;
}

.mb30 {
  margin-bottom: 30px;
}

.pl10 {
  padding-left: 10px;
}

.pl20 {
  padding-left: 20px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  border-radius: 6px;
}

.head {
  background-color: #2ABCA7;
}

h2 {
  text-align: center;
  padding: 18px 0 18px 0;
  font-size: 1.4em;
  color: #fff;
}

input {
  margin-bottom: 10px;
}

input:first-of-type {
  margin-top: 30px;
}

textarea {
  height: 100px;
  margin-bottom: 10px;
}

input,
textarea {
  font-size: 1em;
  padding: 15px 10px 10px;
  font-family: "Source Sans Pro", arial, sans-serif;
  border: 1px solid #cecece;
  background: #d7d7d7;
  color: #333333;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  box-sizing: border-box;
  width: 80%;
  max-width: 600px;
}

input[type=checkbox] {
  width: auto !important;
}

::-webkit-input-placeholder {
  color: #999;
}

:-moz-placeholder {
  color: #999;
}

::-moz-placeholder {
  color: #999;
}

:-ms-input-placeholder {
  color: #999;
}

button,
.close-btn {
  margin-top: 15px;
  margin-bottom: 25px;
  background-color: #2ABCA7;
  padding: 12px 45px;
  border: 1px solid #2ABCA7;
  transition: 0.5s;
  display: inline-block;
  cursor: pointer;
  width: 30%;
  color: #fff;
}

button:hover,
.button:hover {
  background: #19a08c;
}

label.error {
  font-family: "Source Sans Pro", arial, sans-serif;
  font-size: 1em;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #d89c9c;
  width: 80%;
  margin: auto;
  color: #FAFAFA;
  border-radius: 6px;
}

/* date picker width */

.picker__frame {
  width: 95%;
}

/* media queries */

@media (max-width: 700px) {
  label.error {
    width: 90%;
  }

  input,
  textarea {
    width: 90%;
  }

  button {
    width: 90%;
  }

  body {
    padding-top: 10px;
  }
}

.message {
  font-family: "Source Sans Pro", arial, sans-serif;
  font-size: 1.1em;
  display: none;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #2ABCA7;
  width: 80%;
  margin: auto;
  color: #FAFAFA;
  border-radius: 6px;
}

.confirm-form {
  padding: 20px 0;
  font-family: "Source Sans Pro", arial, sans-serif;
  border-bottom: 1px solid #ddd;
}

.footer {
  background-color: #fff;
}

/* フォームスタイル */

.radio-box {
  margin: 0 30px;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.around {
  justify-content: space-around;
}

.between {
  justify-content: space-between;
}

/* select style */

.selectdiv {
  position: relative;
  /*Don't really need this just for demo styling*/
  margin: 10px 0 30px 0;
}

/* IE11 hide native button (thanks Matt!) */

select::-ms-expand {
  display: none;
}

.selectdiv:after {
  content: "<>";
  font: 17px "Consolas", monospace;
  color: #333;
  transform: rotate(90deg);
  right: 40px;
  /*Adjust for position however you want*/
  top: 18px;
  padding: 0 0 2px;
  border-bottom: 1px solid #999;
  /*left line */
  position: absolute;
  pointer-events: none;
}

.selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */
  display: inline-block;
  width: 90%;
  max-width: 600px;
  height: 50px;
  margin: 5px 0px;
  padding: 0px 24px;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  -ms-word-break: normal;
  word-break: normal;
}

.takeout-form-block {
  width: 100%;
  margin: 0 auto;
}

.takeout-menu-title {
  width: 40%;
  margin: 0;
  padding-top: 10px;
  text-align: right;
}

.takeout-menu-num {
  width: 30%;
}

.takeout-form-checkbox {
  width: 70%;
  margin-top: 0 !important;
  text-align: right;
}

.headline-h2 {
  padding: 0 0 18px 0;
  color: #777;
  border-bottom: 1px dashed #ddd;
}